@model Dossieropvolging.ViewModels.BeheerViewModel

@{
    ViewBag.Title = "Gebruikers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Gebruikers</h2>

<p>
    @Html.ActionLink("Nieuwe gebruiker aanmaken", "Create", null, new { @class = "btn btn-default" })
</p>


<table class="table">
    <tr>
        <th width="25%">
            @Html.DisplayNameFor(model => model.lstGebruikers.FirstOrDefault().Naam)
        </th>
        <th width="25%">
            @Html.DisplayNameFor(model => model.lstGebruikers.FirstOrDefault().Voornaam)
        </th>
        <th width="40%">
            @Html.DisplayNameFor(model => model.lstGebruikers.FirstOrDefault().Email)
        </th>
        <th width="10%">
            @Html.DisplayNameFor(model => model.lstGebruikers.FirstOrDefault().Actief)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.lstGebruikers)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actief)
            </td>
            <td>
                @Html.ActionLink("Bewerken", "Edit", new { id = item.Id })                
            </td>
        </tr>
    }

</table>


<h2>Beheerders</h2>

<table class="table">
    <tr>
        <th width="25%">
            @Html.DisplayNameFor(model => model.lstAdmins.FirstOrDefault().Naam)
        </th>
        <th width="25%">
            @Html.DisplayNameFor(model => model.lstAdmins.FirstOrDefault().Voornaam)
        </th>
        <th width="40%">
            @Html.DisplayNameFor(model => model.lstAdmins.FirstOrDefault().Email)
        </th>
        <th width="10%">
            @Html.DisplayNameFor(model => model.lstGebruikers.FirstOrDefault().Actief)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.lstAdmins)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Voornaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Actief)
            </td>
            <th>
                @Html.ActionLink("Bewerken", "Edit", new { id = item.Id })                
            </th>
        </tr>
    }

</table>