@model Dossieropvolging.ViewModels.DossierViewModel

@{
    ViewBag.Title = "Bijlagen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bijlagen</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Naam
        </th>
        <th>
            Toegevoegd Op
        </th>
        <th>            
        </th>
    </tr>

    @if (Model.Dossier.Bijlages != null)
    {
        foreach (var item in Model.Dossier.Bijlages)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ToegevoegdOp)
                </td>
                <td>       
                    @Html.ActionLink("Verwijderen", "DeleteBijlage", new { id = item.Id, dossierId = Model.Dossier.Id }, new { @class = "glyphicon glyphicon-trash" })
                </td>
            </tr>
        }
    }

</table>

<br>

@using (Html.BeginForm("Bijlage", "Dossier", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    @Html.AntiForgeryToken()

    // Script bron: http://markusslima.github.io/bootstrap-filestyle/
    <script type="text/javascript" src="~/ScriptsCustom/FilePicker.js"></script>

    <div class="form-horizontal">

        <div class="form-group">

            @Html.Label("Bijlage", new { @class = "control-label col-md-2" })

            <div class="col-md-8">
                <input type="file" id="bijlage" name="upload" class="filestyle" />
            </div>

            @Html.HiddenFor(model => model.Dossier.Id)

            <input type="submit" value="Toevoegen" class="btn btn-default" />

        </div>

    </div>
}

<div>
    @Html.ActionLink("Terug naar het overzicht", "Index")
</div>