@model IEnumerable<Dossieropvolging.Models.Dossier>

@{
    ViewBag.Title = "Dossier overzicht";
}

<h2>Dossier overzicht</h2>

<p>
    @Html.ActionLink("Nieuw dossier aanmaken", "Create", null, new { @class = "btn btn-default" })
</p>



<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MeldingsDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AlarmDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dossierbeheerder)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        if (item.AlarmDatumVerstreken == true)
        {
            <tr class="alarm">
                <td>
                    @Html.DisplayFor(modelItem => item.Titel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeldingsDatum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlarmDatum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DossierbeheerderNaam)
                </td>
                <td>
                    @Html.ActionLink("Bewerken ", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Acties", "Actie", new { id = item.Id }) |
                    @Html.ActionLink("Bijlagen", "Bijlage", new { id = item.Id }) |
                    @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Titel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MeldingsDatum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status.Naam)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AlarmDatum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DossierbeheerderNaam)
                </td>
                <td>
                    @Html.ActionLink("Bewerken ", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Acties", "Actie", new { id = item.Id }) |
                    @Html.ActionLink("Bijlagen", "Bijlage", new { id = item.Id }) |
                    @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    }

</table>
