<link href="~/Content/dot-luv/jquery-ui-1.9.2.custom.min.css" rel="stylesheet" />
<script src="~/ScriptsCustom/DatePicker.js"></script>

@model Dossieropvolging.ViewModels.DossierViewModel

@{
    ViewBag.Title = "Dossier overzicht";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Opzoeken Dossier(s)</h2>


@using (Html.BeginForm("Opzoeken", "Dossier", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        <div class="form-group">
                @Html.Label("Dossier nummer", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.EditorFor(model => model.DossierId, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Dossier.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.StatusId, new SelectList(Model.lstStatus, "Id", "Naam"),"" , new { @class = "form-control" })
                </div>

                @Html.LabelFor(model => model.Dossier.Prioriteit, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.PrioriteitId, new SelectList(Model.lstPrioriteit, "Id", "Naam"),"" , new { @class = "form-control" })
                </div>
            </div>

        <div class="form-group">
            @Html.Label("Meldingsdatum tussen ", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-3">
                @Html.EditorFor(model => model.ZoekMeldingsDatum1, new { htmlAttributes = new { @class = "form-control", @id = "meldingsdatumKeuze1" } })
            </div>

            @Html.Label("en ", htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-3">
                @Html.EditorFor(model => model.ZoekMeldingsDatum2, new { htmlAttributes = new { @class = "form-control", @id = "meldingsdatumKeuze2" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Dossier.Melder, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Dossier.Melder, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Dossier.Melder, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.Dossier.Titel, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Dossier.Titel, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(d => d.Dossier.Inhoud, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-8">
                @Html.EditorFor(model => model.Dossier.Inhoud, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Zoeken" class="btn btn-default" />
            </div>
        </div>

    </div>
}

<br />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Dossier.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dossier.Titel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dossier.MeldingsDatum)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dossier.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dossier.AlarmDatum)
        </th>
        <th></th>
    </tr>

    @if (Model.GevondenDossiers != null)
    {
        foreach (var item in Model.GevondenDossiers)
        {
            if (item.AlarmDatumVerstreken == true)
            {
                <tr class="alarm">
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MeldingsDatum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AlarmDatum)
                    </td>
                    <td>
                        @Html.ActionLink("Bewerken ", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Acties", "Actie", new { id = item.Id }) |
                        @Html.ActionLink("Bijlagen", "Bijlage", new { id = item.Id }) |
                        @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Titel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MeldingsDatum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status.Naam)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AlarmDatum)
                    </td>
                    <td>
                        @Html.ActionLink("Bewerken ", "Edit", new { id = item.Id }) |
                        @Html.ActionLink("Acties", "Actie", new { id = item.Id }) |
                        @Html.ActionLink("Bijlagen", "Bijlage", new { id = item.Id }) |
                        @Html.ActionLink("Verwijderen", "Delete", new { id = item.Id })
                    </td>
                </tr>
            }
        }
    }

</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
